.toDoList {
    margin-bottom: 20px;
    top: 35%;
    left: 34%;
}

.li {
    font-size: 22px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
}

.toDoButton {
    background: none;
    border: none;
    color:black;
    margin-right: 10px;
    cursor: pointer;
}
